.fotos {
  margin-bottom: 20px;
}
.fotos__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.fotos__foto {
  width: calc(100% - 50% - 10px);
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}
.fotos__item {
  border-radius: 20px;
  max-height: 360px;
  object-fit: cover;
}
.fotos__wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.foto__item--min {
  width: 30%;
  max-height: 110px;
}
.foto__item--big {
  margin-bottom: 20px;
}
