.result {
  text-align: center;
}

.result__button {
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  border-radius: 30px;
  border: 0;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #ff006e;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}

.result__title {
  margin-bottom: 0;
}

.result__img {
  width: 150px;
}
